@model AppUser

@{
    Layout = "_Layout";
    ViewBag.HeaderTitle = "Profile";
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-4">
        <div class="w-50 h-50">
            <figure class="figure">
                <img src="@Model.ProfilePicture" class="img-fluid rounded" />
                <figcaption class="figure-caption">
                    <h5 class="text-center">@Model.UserName</h5>
                    <h5 class="text-center">@Model.Email</h5>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8">
        @if (Model.Images.Count() <= 0)
        {
            <p>No images to show</p>
        }
        else
        {
            <div class="row justify-content-between">
                    @foreach (var imagen in Model.Images)
                    {
                        <div class="col-12 col-sm-6 col-md-6 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="@imagen.Path" style="height:200px;" />
                                <div class="card-body">
                                    <h3 class="card-title">@imagen.Name</h3>
                                    <p class="card-text">@imagen.Description</p>
                                </div>
                            </div>
                        </div>
                    }
            </div>
        }
    </div>
</div>
